 div.darkToggle {
     margin: 15px;
     width: 30px;
     height: 30px;
     border-radius: 50%;
     background-color: rgb(28, 26, 45);
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 div.darkToggle::before {
     font: var(--fa-font-solid);
     content: "\f186";
     color: white;
 }

 .first_row.dark {
     background: #24292d;
 }

 /* body.dark .toggle::before {
     content: '\f185';
 } */