.li_javascript {
  transition: 0.2s;
  color: #d7c54f;
}

.li_javascript:hover {
  cursor: pointer;
  filter: drop-shadow(3px 3px 2px #c9ba52);
}

.li_html5 {
  transition: 0.2s;
  color: #e34c26;
}

.li_html5:hover {
  cursor: pointer;
  filter: drop-shadow(3px 3px 2px #953118);
}

.li_css3 {
  transition: 0.2s;
  color: #264de4;
}

.li_css3:hover {
  cursor: pointer;
  filter: drop-shadow(3px 3px 2px #2a376b);
}
.li_sass {
  transition: 0.2s;
  color: #cd6799;
}

.li_sass:hover {
  cursor: pointer;
  filter: drop-shadow(3px 3px 2px #7b3d5b);
}

.li_sql {
  transition: 0.2s;
  color: #1e61a8;
}
.li_sql span {
  vertical-align: bottom;
}

.li_sql:hover {
  cursor: pointer;
  filter: drop-shadow(3px 3px 2px #34485d);
}

.li_react {
  transition: 0.2s;
  color: #56c3de;
}

.li_react:hover {
  cursor: pointer;
  filter: drop-shadow(2px 2px 2px #4babc3fa);
}

.li_bootstrap {
  transition: 0.2s;
  color: #7110f5;
}

.li_bootstrap:hover {
  cursor: pointer;
  filter: drop-shadow(3px 3px 2px #440a95);
}
.li_git {
  transition: 0.2s;
  color: #f1502f;
}

.li_git:hover {
  cursor: pointer;
  filter: drop-shadow(3px 3px 2px #96311d);
}
